@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<dl>
    <dd>
        <img src="https://bbamiw-dm2305.files.1drv.com/y4mdc5_MwbaQ0cSRt-Vp45hh2EEPNLKGpWDwQE5syv1ZmE5PHSmVdC4o-Ue84YG2qFUXtboQxwpx4JQeHL3wVvjykzq_Es6B0Rzn5bzieb2y8pIoXZ4cbSIXqN01w-HXVnWpVhTMyNjR6wflz7OXidFBdjVAheLyCAkIxiPkxsZMM7yz2zVDFtv47sT7WiLgPmkfl8cIuVH9_1gVLZ1gPD7Fw?width=1280&height=1092&cropmode=none" width="320" height="273"/>
    </dd>
    <dt>
        <h1>What is Recipe For Disaster all about?</h1>
    </dt>
    <dd>
        This website contains recipes made by our users mean YOU. These can be rated by other users which then will influence how the recipe is presented on the website.
        Recipes that are highly rated will be shown as top results on the front page. The front page also includes the newes posted resicpes
        Recipes are categorized by Appetizers, Dinner and Dessert. Further, options to choose the countr of orign can be found under each main category

    </dd>
</dl>