
@{
    ViewBag.Title = "Appetizers";
}

<h2>Appetizers</h2>

<div id="div-fancy-list">
    <ul id="ul-fancy-list">
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaliw-dm2305.files.1drv.com/y4mnXa_Uy556vL7tLK5zf_BzYwoKHykJ2vWa8HNEV_63cokAOLCvZjkngK2w6C1pXuEVnJzPDbGW6pIcckkduKtV77s-Cagym5rD1_RsLLFwe7leovuqC2SW4xwXs2lf9haUgPzpW-o7ZKxLNhw_AxpI6yHnxTVJERxbNBRjVj3YIzyAZtUvQm_hL556Em-ZVdLI8vDLH4XAe0BwFmfQPnhMw?width=460&height=427&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaliw-dm2305.files.1drv.com/y4mnXa_Uy556vL7tLK5zf_BzYwoKHykJ2vWa8HNEV_63cokAOLCvZjkngK2w6C1pXuEVnJzPDbGW6pIcckkduKtV77s-Cagym5rD1_RsLLFwe7leovuqC2SW4xwXs2lf9haUgPzpW-o7ZKxLNhw_AxpI6yHnxTVJERxbNBRjVj3YIzyAZtUvQm_hL556Em-ZVdLI8vDLH4XAe0BwFmfQPnhMw?width=460&height=427&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>

        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaliw-dm2305.files.1drv.com/y4mnXa_Uy556vL7tLK5zf_BzYwoKHykJ2vWa8HNEV_63cokAOLCvZjkngK2w6C1pXuEVnJzPDbGW6pIcckkduKtV77s-Cagym5rD1_RsLLFwe7leovuqC2SW4xwXs2lf9haUgPzpW-o7ZKxLNhw_AxpI6yHnxTVJERxbNBRjVj3YIzyAZtUvQm_hL556Em-ZVdLI8vDLH4XAe0BwFmfQPnhMw?width=460&height=427&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
    </ul>
</div>

