
@{
    ViewBag.Title = "Desserts";
}

<h2>Desserts</h2>

<div id="div-fancy-list">
    <ul id="ul-fancy-list">
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbajiw-dm2305.files.1drv.com/y4mMNllPm0Krh55I2eM39bgCxO7ZrPE5DJkjPMh5msa7c6RqdIkjCU4X890jBwhncT68jSifZfi68GALyuQEFTO5n32grqLiYsTOgSMovqP4L4W8dA3ynI1eRgCVttPgnD6zuv4vktXSHOmglro0Nho_QfZeMpz0S221hz0cnn36eacTQnabWAQiJIUJaUot7GSJqk0F35QGZzbPyDEqn1VqA?width=514&height=426&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbajiw-dm2305.files.1drv.com/y4mMNllPm0Krh55I2eM39bgCxO7ZrPE5DJkjPMh5msa7c6RqdIkjCU4X890jBwhncT68jSifZfi68GALyuQEFTO5n32grqLiYsTOgSMovqP4L4W8dA3ynI1eRgCVttPgnD6zuv4vktXSHOmglro0Nho_QfZeMpz0S221hz0cnn36eacTQnabWAQiJIUJaUot7GSJqk0F35QGZzbPyDEqn1VqA?width=514&height=426&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>

        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbajiw-dm2305.files.1drv.com/y4mMNllPm0Krh55I2eM39bgCxO7ZrPE5DJkjPMh5msa7c6RqdIkjCU4X890jBwhncT68jSifZfi68GALyuQEFTO5n32grqLiYsTOgSMovqP4L4W8dA3ynI1eRgCVttPgnD6zuv4vktXSHOmglro0Nho_QfZeMpz0S221hz0cnn36eacTQnabWAQiJIUJaUot7GSJqk0F35QGZzbPyDEqn1VqA?width=514&height=426&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
    </ul>
</div>