
@{
    ViewBag.Title = "MainDishes";
}

<h2>@ViewBag.Title</h2>

<div id="div-fancy-list">
    <ul id="ul-fancy-list">
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaiiw-dm2305.files.1drv.com/y4m2NxdXvN9OtKuwR_JyE4JMi953pkM1FM2tq7QXoUtkhckXyjjXjd4wUqvlPjcCu6baKWbnH9tw9QWKJUwALAxGam9kdzG8JuHbdbiCf3FkAlQH6CgSHqoPrqabGHPH0xokD4ZImDLPLna6XjR4-H6-5G1wAgkQFOqUMieQQD9-2s0n0dkcGPFgQcA05tCwyEFDDi3rYk-e9Hn1dV9fRLyVw?width=460&height=359&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaiiw-dm2305.files.1drv.com/y4m2NxdXvN9OtKuwR_JyE4JMi953pkM1FM2tq7QXoUtkhckXyjjXjd4wUqvlPjcCu6baKWbnH9tw9QWKJUwALAxGam9kdzG8JuHbdbiCf3FkAlQH6CgSHqoPrqabGHPH0xokD4ZImDLPLna6XjR4-H6-5G1wAgkQFOqUMieQQD9-2s0n0dkcGPFgQcA05tCwyEFDDi3rYk-e9Hn1dV9fRLyVw?width=460&height=359&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>

        <li id="li-fancy-list">
            <h3 id="h1-fancy-list"> <img border="0" src="https://bbaiiw-dm2305.files.1drv.com/y4m2NxdXvN9OtKuwR_JyE4JMi953pkM1FM2tq7QXoUtkhckXyjjXjd4wUqvlPjcCu6baKWbnH9tw9QWKJUwALAxGam9kdzG8JuHbdbiCf3FkAlQH6CgSHqoPrqabGHPH0xokD4ZImDLPLna6XjR4-H6-5G1wAgkQFOqUMieQQD9-2s0n0dkcGPFgQcA05tCwyEFDDi3rYk-e9Hn1dV9fRLyVw?width=460&height=359&cropmode=none" width="90" height="85" alt="Appetizers picture not found"> Recipe name  </h3>
            <p id="p-fancy-list">Short summary</p>
        </li>
    </ul>
</div>